body{
  background-color: rgb(15, 63, 63);
  margin: 0;
  padding: 0;
}
header{
  background-color: bisque;
  text-align: center;
  padding: 5px;
}
nav{
  background-color: coral;
  padding: 5px;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  padding: 5px;
  text-decoration:none;
}
nav ul li a:hover{
  background-color: cyan;
  padding: 2px;
}
section{
  text-align: center;
}
section h1{
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid blue;
  border-radius:20%;
}
footer{
  background-color: cornflowerblue;
  text-align: center;
  padding: 20px;
}